body { 
   grid-template-areas: 
   "h h h h h h h h h h h h"
   "m m m m m m m a a a a a"
   "b b b b b b b b b b b b"
   "f f f f f f f f f f f f";
}
/***********main**************/
.main_wrapper {
   grid-template-columns: repeat(2, 250px);
   grid-template-rows:70px repeat(3, 200px) 40px;
   margin: 0rem;
   margin-right: 1.5rem;
   grid-template-areas: 
   "t t "
   "ca po" 
   "mo me"
   "pa am"
   "p p";
}
.main_wrapper h2, .plus {
   padding-left: .9rem;
}
.main_wrapper a {
   line-height: 1.3rem;
}
/******************aside***********/
.popular_wrapper {
   grid-template-rows:70px repeat(3, 190px) 70px;
}
.popular_wrapper div {
   width: 80%;
   height: 85%; 
}
.popular_wrapper img { 
   margin-right: 1rem;
}
.popular_wrapper h5 {
   padding-top: 2rem;
 }
/***************activites**************/
.activities_wrapper {
   grid-gap: 1rem;
}
.imgA3 h5 {
   padding: 5px 4px;
}