body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "h h h h h h"
    "a a a a a a"
    "m m m m m m"
    "b b b b b b"
    "f f f f f f";
}
/*******************head************************/
header {
    width: 100%;   
}
/********************menu*************************/
.menu_wrapper {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-template-areas:
    "l l s s"
    "h h a a";
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
}
.menu_wrapper img {
    grid-area: l;
    padding-left: 1.5rem;
}
.menu_wrapper a {   
    width: 100%;
    padding-bottom: 1.5rem;
}
.menu_h {
    grid-area: h; 
    border-bottom: #0065FC solid 3px;
}
.menu_a {
    grid-area: a;
    border-bottom: #e2e8f1 solid 3px;
}
#menu_i {
    grid-area: s;
    padding-top: 1rem;  
}
/**************search*******************/
.search_wrapper {
    width: 100%;
    margin: 1.5rem 1.5rem 0 1.5rem;
}
.search_wrapper form {
    grid-template-columns: 50px 3fr 50px 1fr; 
}
#search_icon {
    display: unset;
}
.search_input span {
    display: none;
}
/*******************filtres**************/
.filter_wrapper {
    grid-template-columns: 180px 140px ; 
    grid-template-rows: 3rem 3rem 3rem 3rem;
    grid-gap: .8rem;
    margin: 1.5rem 1.5rem ;
}
.filter_button1 {
    grid-area:  2 / 1 / 3 / 2;
}
.filter_button2 {
    grid-area:  2 / 2 / 3 / 3;
}
.filter_button3 {
    grid-area:  3 / 1 / 4 / 2;
}
.filter_button4 {
    grid-area:  4 / 1 / 5 / 2;
    width:230px;
}
/***********************info*********************/
.info_wrapper {
    width: 90%;
    flex-wrap: nowrap;
    margin-left: 1rem;
}
.info_icon {
    flex-shrink: 0
}
/*******************main*************************/
#main_grid {
    margin: 0;
}
.main_wrapper {
    background-color: transparent;
    margin: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(6, 200px) 40px;
    grid-template-areas: 
    "t"
    "ca" 
    "po" 
    "mo"
    "me"
    "pa" 
    "am"
    "p";
}
/******************aside***********/
aside {
    width: 100%;
    max-width: unset;
}
.popular_wrapper {
    grid-template-columns: 1fr;
    border-radius: unset;
}
.popular_wrapper p {
    margin-bottom: 2.5rem;
}
#card9_m {
    display: unset;
} 
#card9_d {
    display: none;
} 
/***************activites *******************/
#activities_grid {
    width: 90%;
}
.activities_wrapper {
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows:40px repeat(6, 180px);
    grid-template-areas: 
    "ac"
    "v"
    "pom"
    "fri"
    "pa"
    "no" 
    "lo"; 
}
.imgA1 img, .imgA3 img {
    height: 75%;
}
/*************foot***************/
footer { 
    display: block;
    padding-left: 2rem;      
}
footer div {
    width: 100%;
}
/************media queries for extra small screen*****/
@media only screen and (min-width: 250px) and (max-width: 366px){
        body {
            color: blue;
        }
        .search_wrapper form {
            grid-template-columns: 40px 50% 40px; 
        }
        .filter_wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .popular_wrapper {
            grid-template-rows: 70px repeat(3, 180px) 32px; 
        }
        .popular_wrapper div {
            width: 60%;
            min-width:unset;
                
        }
        .popular_wrapper img { 
            width:  100%;
            height: 60%;
            border-radius: 1rem 1rem 0rem 0rem;  
        }  
}