html {
  font: size 16px;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:auto;
  grid-template-areas: 
  "h h h h h h h h h h h h"
  "m m m m m m m m a a a a"
  "b b b b b b b b b b b b"
  "f f f f f f f f f f f f";
}

/*****************head grid***********/
header {
  grid-area: h;
  width: 95%;
  margin: 0 auto 0 auto;   
}

/***************menu style***********/
.menu_wrapper {
  display: flex;
  align-items: flex-end; 
}

.menu_wrapper img {
  margin-right: 60%;
}

.menu_wrapper a {
  width: 40%;
  text-align: center; 
  padding-top: 50px;
  text-decoration: none;
  color: black;     
  border-top: transparent solid 3px;
}

.menu_wrapper a:first-of-type {
  border-top: #0065FC solid 3px;
  color: #0065FC;
}

.menu_wrapper a:last-child {
  color: #0065FC;
}

.menu_wrapper a:hover {
  border-top: #0065FC solid 3px;
  color: #0065FC;
}

#inscrire:hover {
  text-decoration: none;
  color: black;
}

/**************search style************/
.search_wrapper h2{
  font-size: 1.3em;
}

.search_input i {
  background-color: #F2F2F2;
  border-radius: 1em 0em 0em 1em;
  font-size: 1.2em;
  padding: 0.6em;
}

.search_input input {
  background-color: #ffffff;
  border: 1px solid rgb(230, 227, 227);
  font-size: 1em;
  font-weight: 700;
  padding: 0.7em;
}

.search_input ::placeholder {
      color: rgb(0, 0, 0);
      opacity: 1;
}   

.search_input :focus {
  color: #0065FC;
  outline: none;
  background-color: #DEEBFF;
}

.search_input button {
  color: #F2F2F2;
  background-color: #0065FC;
  border-radius: 0em 1em 1em 0em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.7em;
  border: 0;
}

/*******************filtres style**************/
.filtres_wrapper {
  display: flex;
  height: 50px;
  width: 70%;
  margin-top: 30px;
  justify-content: space-between;
  place-items: center;  
}

.filtres_wrapper h4 {
  font-size: 1.3em;
}

.filtres_wrapper a {
  border-radius: 50px;
  height: 80%;
  border: 2px solid #ebe8e8 ;
  background-color: transparent;
  text-decoration: none;
  color: black; 
}

.filtres_button1, .filtres_button3 {
  width: 20%; 
}
.filtres_button2 {
  width: 18%;
}

.filtres_button4 {
  width: 24%;
}

.filtres_wrapper i {
  height: 100%;
  width: 2.2em;
  text-align: center;
  margin-left: -0.2em;
  border-radius: 50%;
  border: 1px solid #DEEBFF ;
  line-height: 40px;
  background-color: #DEEBFF;
  color: #0065FC;
  font-size: 1.2em;
}

.filtres_text {
  font-size: 1em;
  font-weight: 700;
  line-height: 40px;
  margin-left: 10px;
}

.filtres_wrapper a:hover >i {
 transform: translateY(-0.5px);
  box-shadow: 2px 2px 6px 0px rgba(61, 72, 238, 0.3);
  border: 1px solid #f3f3f3 ;
  background-color: #0065FC;
  color: #ffffff;
}

/******************info style***************/
.info_wrapper {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  place-items: center center;  
  margin-top: 20px;
}

.info_icon {
  height: 2em;
  width: 2em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ebe8e8 ;
  line-height: 25px;
  color: #0065FC;
  font-size: 0.9em;
}

.info_text {
  font-size: 1em;
  margin-left: 15px;
}

/*******************main grid************/
main {
  grid-area: m;
  width: 100%;
}
/******************aside grid***********/
aside {
  grid-area: a;
  width: 100%;
  transition: 5ms;
}
/***************bottom grid***********/
.mainbottom {
  grid-area: b;
  width: 95%;
  margin: 0 auto 0 auto;
}
/****************footer grid******/
footer {
  grid-area: f;
}