body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "h h h h h h"
    "a a a a a a"
    "m m m m m m"
    "b b b b b b"
    "f f f f f f";
}
/***********head************/
header {
    margin: 0 auto 0 2rem;   
}
.search_wrapper form {
    grid-template-columns: 50px 334px 130px 3fr;  
} 
/*************filtres style********/
.filter_wrapper {
    grid-gap: .8rem;
}
.filter_button3 {
    grid-area:  2 / 2 / 3 / 3;
}
.filter_button4 {
    grid-area:  2 / 3 / 3 / 5;
    width:230px;
}
/*******************main*************************/
#main_grid {
    width: 90%;
    margin: 0 auto 0 auto;
}
/***********grid-area specific to main******************/
.main_wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:60px repeat(3, 260px) 40px;
    grid-template-areas: 
    "t t "
    "ca po" 
    "mo me"
    "pa am"
    "p p";
    border-radius: 2%;
    margin: 0;
}
.main_wrapper img { 
    height: 70%;
}
.main_wrapper a {
    line-height: 1rem;
  }
/******************aside ***********/
aside {
    width: 90%;
    margin: 0 auto 0 auto;
}
.popular_wrapper {
    grid-template-columns: 90%;
    grid-template-rows:60px repeat(3, 180px) 30px;
}
.popular_wrapper h5 {
    padding-top: 1.5rem;
  }
.prix {
    margin-bottom: 2.5rem;
}
/***************activites GRID************************/
#activities_grid {
    width: 90%;
}
.activities_wrapper {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:50px repeat(3, 180px);
    grid-template-areas: 
    "ac ac"
    "v pom"
    "fri pa"
    "no lo"; 
}
.activities_wrapper h2 {
    align-self: flex-end;
}
.activities_wrapper img { 
    height: 75%;
}
/*******************foot************************/
footer div {
    width: max-content;
}